<template src="./template.html"></template>

<script src="./script.js"></script>

<style lang="scss" rel="stylesheet/scss">
@import "../../../styles/main.scss";

form.row {
    margin-top: 2rem;

    .form-group {
        width: 100%;
    }
}
</style>