<section class="container-fluid">
    <sidebar></sidebar>
    <error-box message="An error occurred. The requested operation failed." v-if="error"></error-box>

    <div class="row">
        <div class="col-md-8 offset-md-2 content-wrapper">
            <h1 class="h1 page-title">Edit Base</h1>

            <div class="row">
                <div class="col-md-12 d-flex justify-content-end">
                    <router-link to="/bases" class="btn-action">Back</router-link>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form class="row" method="post" v-on:submit.prevent="editBase" enctype="multipart/form-data">
                        <div class="col-md-12 form-group">
                            <input class="form-control" type="text" name="name" placeholder="Name" v-model="base.name" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <input class="form-control" type="file" name="file" placeholder="Select File List" v-on:change="fileSelected($event)">
                        </div>
                        <div class="col-md-12 form-check">
                            <label class="custom-control custom-checkbox" for="update">
                                <input type="checkbox" class="custom-control-input" id="update" name="update" v-model="base.update">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Update current base (leaving this blank would create a new base and delete the previous list.)</span>
                            </label>
                        </div>

                        <div class="col-md-12">
                            <button class="btn btn-submit" type="submit" :disabled="loading">
                                <span v-show="!loading">update &amp; save</span>
                                <img src="../../../assets/Eclipse.svg" v-show="loading" width="20">
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>