<section class="container-fluid">
    <sidebar></sidebar>
    <error-box message="An error occurred. The campaign could not be added." v-if="error"></error-box>

    <div class="row">
        <div class="col-md-6 offset-md-3 content-wrapper">
            <h1 class="h1 page-title">New Campaign</h1>

            <div class="row">
                <div class="col-md-12 d-flex justify-content-end">
                    <router-link to="/campaigns" class="btn-action">Back</router-link>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <form class="row" method="post" v-on:submit.prevent="addCampaign">
                        <div class="col-md-12" v-if="!next">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <input class="form-control" type="text" name="name" placeholder="Name" v-model="campaign.name" required>
                                </div>
                                <div class="col-md-6 form-group pad-less-right">
                                    <select class="form-control custom-select" name="type" v-model="campaign.type">
                                        <option hidden disabled selected value="null">Campaign Type</option>
                                        <option value="Promotional">Promotional</option>
                                        <option value="Marketing">Marketing</option>
                                    </select>
                                </div>
                                <div class="col-md-6 form-group pad-less-left">
                                    <input class="form-control" type="date" name="date" placeholder="Date" v-model="campaign.date" required>
                                </div>
                                <div class="col-md-6 form-group pad-less-right">
                                    <select class="form-control custom-select" name="start_time" v-model="campaign.start_time" v-on:change="filterEndTimes">
                                        <option hidden disabled selected value="null">Start Time</option>
                                        <option v-for="time in start_times" :value="time">{{time}}</option>
                                    </select>
                                </div>
                                <div class="col-md-6 form-group pad-less-left">
                                    <select class="form-control custom-select" name="end_time" v-model="campaign.end_time">
                                        <option hidden disabled selected value="null">End Time</option>
                                        <option v-for="time in end_times" :value="time">{{time}}</option>
                                    </select>
                                </div>
                                <div class="col-md-6 form-group pad-less-right">
                                    <select class="form-control custom-select" name="mask_id" v-model="campaign.mask_id">
                                        <option hidden disabled selected value="null">Mask</option>
                                        <option v-for="mask in masks" :value="mask._id">{{mask.name}}</option>
                                    </select>
                                </div>
                                <div class="col-md-6 form-group pad-less-left">
                                    <select class="form-control custom-select" name="base_list_id" v-model="campaign.base_list_id">
                                        <option hidden disabled selected value="null">Base</option>
                                        <option v-for="base in bases" :value="base._id">{{base.name}}</option>
                                    </select>
                                </div>
                                <div class="col-md-12 form-check">
                                    <label class="custom-control custom-checkbox" for="base_toggle">
                                        <input type="checkbox" class="custom-control-input" id="base_toggle" name="base_toggle" v-model="toggle_base">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Add New Base.</span>
                                    </label>
                                </div>
                                <div class="col-md-12" v-show="toggle_base">
                                    <div class="row">
                                        <div class="col-md-4 form-group pad-less-right">
                                            <input class="form-control" type="text" name="name" placeholder="Name" v-model="base.name" required>
                                        </div>
                                        <div class="col-md-4 form-group pad-less-left pad-less-right">
                                            <input class="form-control" type="file" name="file" placeholder="Select File List" v-on:change="fileSelected($event)" style="padding: 0.6rem 1rem !important;">
                                        </div>
                                        <div class="col-md-4 pad-less-left">
                                            <button class="btn btn-submit" type="submit" :disabled="loading" v-on:click="addBase">
                                                <span v-show="!loading">upload</span>
                                                <img src="../../../assets/Eclipse.svg" v-show="loading" width="20">
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <button class="btn btn-submit" v-on:click="next = true">
                                        <span>next</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" v-if="next">
                            <div class="row">
                                <div class="col-md-12 mb-4">
                                    <button class="btn btn-submit" v-on:click="next = false">
                                        <span>back to basic info</span>
                                    </button>
                                </div>

                                <div class="col-md-12 form-group">
                                    <label for="message">Message</label>
                                    <textarea class="form-control" id="message" rows="5" name="message" v-model="campaign.message" required></textarea>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label for="notes">Notes for Admin</label>
                                    <textarea class="form-control" id="notes" rows="5" name="notes" v-model="campaign.notes" required></textarea>
                                </div>
                                <div class="col-md-6 form-group pad-less-right">
                                    <input class="form-control" type="text" name="phone" placeholder="Send Test Message" v-model="phone">
                                </div>
                                <div class="col-md-6 form-group pad-less-left">
                                    <button class="btn btn-submit" v-on:click="sendMessage($event)" :disabled="!(campaign.message && phone)">
                                        <span>send</span>
                                    </button>
                                </div>
                                <p class="alert-danger mx-3 py-2 px-3" v-if="not_sent">{{send_error}}</p>
                            </div>
                        </div>


                        <div class="col-md-12" v-if="next">
                            <button class="btn btn-submit" type="submit" :disabled="loading">
                                <span v-show="!loading">add</span>
                                <img src="../../../assets/Eclipse.svg" v-show="loading" width="20">
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>