<section class="container-fluid">
    <sidebar></sidebar>
    <error-box v-if="error" :message="error_message"></error-box>

    <div class="row">
        <div class="col-md-10 offset-md-1 content-wrapper">
            <h1 class="h1 page-title">Quick Messages</h1>

            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <button v-on:click="send_quick = true" class="btn-action">Send a Quick Message</button>
                </div>
            </div>

            <div class="row add-wrapper mt-3 d-flex justify-content-center" v-if="send_quick">
                <div class="col-md-4">
                    <form class="row" method="post" v-on:submit.prevent="sendMessage">
                        <div class="form-group col-md-12">
                            <input type="text" name="phone" class="form-control" placeholder="Phone" v-model="message.phone" required>
                        </div>
                        <div class="form-group col-md-12">
                            <select class="form-control custom-select" name="mask_id" v-model="message.mask_id">
                                <option hidden disabled selected value="null">Mask</option>
                                <option v-for="mask in masks" :value="mask._id">{{mask.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="message">Message</label>
                            <textarea class="form-control" id="message" rows="5" name="message" v-model="message.message" required></textarea>
                        </div>
                        <p class="alert-danger mx-3 py-2 px-3" v-if="not_sent">{{send_error}}</p>

                        <div class="form-group col-md-12">
                            <button class="btn btn-submit" type="submit" :disabled="loading">
                                <span v-show="!loading">send</span>
                                <img src="../../assets/Eclipse.svg" v-show="loading" width="20">
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="loader" v-show="loader">
                <img src="../../assets/Ripple.svg">
            </div>

            <h2 class="h2">Message History</h2>
            <div class="row">
                <div class="col-md-4 form-group row mb-0">
                    <label for="from" class="col-md-3 text-right mb-0 pt-3">From</label>
                    <input id="from" class="form-control col-md-9" type="date" name="from" placeholder="From" v-model="from">
                </div>
                <div class="col-md-4 form-group row mb-0">
                    <label for="to" class="col-md-3 text-right mb-0 pt-3">To</label>
                    <input id="to" class="form-control col-md-9" type="date" name="to" placeholder="From" v-model="to">
                </div>
                <div class="col-md-4 form-group row mb-0">
                    <button class="btn btn-submit  col-md-10 ml-5" type="submit" v-on:click="getQuickMessagesLogs">
                        <span>Download Logs</span>
                    </button>
                </div>
            </div>
            <table class="table table-striped table-hover table-sm">
                <thead class="thead-inverse">
                <tr>
                    <th>#</th>
                    <th>Phone</th>
                    <th>Mask</th>
                    <th>Message</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(message, index) of message_history">
                    <th scope="row">{{index+1}}</th>
                    <td>{{message.number}}</td>
                    <td>{{message.mask.name}}</td>
                    <td>{{message.message}}</td>
                    <td>{{message.created_at}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>