$primary:     #2c3e50;
$secondary:   #597ea2;
$tertiary:    #ffffff;
$quaternary:  #fc4349;
$background:  lighten(#d7dadb, 11%);

$font-main: 'Open Sans', sans-serif;
$font-heading: 'Open Sans Condensed', sans-serif;