@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/bootstrap";
@import "variables";
@import "mixins";

body {
  background: $background;
  font-family: $font-main;

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-family: $font-heading;
    font-weight: 300;
    color: $secondary;
    text-align: right;
  }

  a,
  a:hover,
  a:active,
  a:visited {
    text-decoration: none !important;
  }

  .border {
    border: 1px solid #333 !important;
  }

  .btn-submit {
    border: none;
    background: $secondary;
    color: $white;
    display: block;
    border-radius: 0;
    width: 100%;
    padding: 0.8rem;
    font-size: 1.1rem;
    text-transform: uppercase;
  }

  .btn-action {
    background: $secondary;
    color: $white;
    padding: 0.7rem 1.2rem;
    margin-top: 1rem;
    border: none;
  }

  .pad-less-left {
    padding-left: 8px;
  }

  .pad-less-right {
    padding-right: 7px;
  }

  .form-control,
  select.form-control {
    border-radius: 0;
    padding: 0.7rem 1rem !important;
  }

  select.form-control {
    height: auto !important;
  }

  .form-control:focus {
    border-color: $secondary;
  }

  .content-wrapper {
    @include wrapper-border;
    margin-top: 5rem;
    margin-bottom: 5rem;
    background: $white;
    padding: 2rem 3rem 3rem;

    .page-title {
      position: relative;
    }

    .page-title::after {
      content: '';
      display: block;
      width: 35px;
      border-bottom: 5px solid lighten($secondary, 10%);
      position: absolute;
      top: 110%;
      right: 0;
    }

    .table {
      width: 100%;
      margin-top: 1rem;

      .thead-inverse {
        th {
          background: $secondary;
          font-family: $font-heading;
        }
      }

      .options {
        color: $secondary;
        font-size: 1.3em;
        position: relative;
        top: -5px;

        .fa {
          padding: 0 5px;
          margin-right: 10px;
          cursor: pointer;
          color: $secondary;
        }

        .fa-trash {
          color: $quaternary;
        }
      }
    }

    .loader {
      display: block;
      margin: 3rem auto;

      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
}