<section class="container-fluid">
    <sidebar></sidebar>
    <error-box message="An error occurred. The base could not be added." v-if="error"></error-box>

    <div class="row">
        <div class="col-md-6 offset-md-3 content-wrapper">
            <h1 class="h1 page-title">New Base</h1>

            <div class="row">
                <div class="col-md-12 d-flex justify-content-end">
                    <router-link to="/bases" class="btn-action">Back</router-link>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <form class="row" method="post" v-on:submit.prevent="addBase" enctype="multipart/form-data">
                        <div class="col-md-12 form-group">
                            <input class="form-control" type="text" name="name" placeholder="Base Name" v-model="base.name" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <input class="form-control" type="file" name="file" placeholder="Select File List" v-on:change="fileSelected($event)" required>
                            <small><i>*The uploaded files should be in CSV or XLSX format.</i></small>
                        </div>

                        <div class="col-md-12">
                            <button class="btn btn-submit" type="submit" :disabled="loading">
                                <span v-show="!loading">add</span>
                                <img src="../../../assets/Eclipse.svg" v-show="loading" width="20">
                            </button>
                        </div>

                        <div class="col-md-12">
                            <h4 class="mt-4">How-to:</h4>
                            <p>To add a new base,</p>
                            <ol>
                                <li>Enter the name of base list in the box named "Base Name"</li>
                                <li>Click on "Choose File" button and select the file in .csv or .xlsx format</li>
                                <li>Press "ADD" button to save the base list.</li>
                            </ol>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>