<template src="./template.html"></template>

<script src="./script.js"></script>

<style lang="scss" rel="stylesheet/scss">
@import "../../../styles/main.scss";

.no-btn {
    display: inline;
    background: none;
    border: none;
    color: #597ea2;
    text-decoration: underline;
}
</style>