<section class="container-fluid">
    <sidebar></sidebar>
    <error-box v-if="error" :message="error_message"></error-box>

    <div class="row">
        <div class="col-md-10 offset-md-1 content-wrapper">
            <h1 class="h1 page-title">Bases</h1>

            <div class="row">
                <div class="col-md-12 d-flex justify-content-end">
                    <router-link to="/bases/new-base" class="btn-action">Add Base</router-link>
                </div>
            </div>

            <div class="loader" v-show="!bases">
                <img src="../../../assets/Ripple.svg">
            </div>

            <table class="table table-striped table-hover table-sm" v-show="bases">
                <thead class="thead-inverse">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Total Phone Numbers</th>
                    <th>Created By</th>
                    <th>Base Created</th>
                    <th>Download</th>
                    <th>Options</th>
                </tr>
                </thead>
                <tbody>
                <tr v-show="bases && !bases.length">
                    <td colspan="7" class="text-center">No bases found!</td>
                </tr>
                <tr v-for="(base, index) of bases">
                    <th scope="row">{{index+1}}</th>
                    <td>{{base.name}}</td>
                    <td>{{base.numbers}}</td>
                    <td>{{base.user ? base.user.first_name : 'N/A'}} {{base.user ? base.user.last_name : ''}}</td>
                    <td>{{base.created_at}}</td>
                    <td>
                        <select class="downloader" name="downloader" v-on:change="downloadBase($event, base._id)" style="height: 27px;">
                            <option value="" selected>Select Operator</option>
                            <option value="all">All</option>
                            <option value="mobilink">Mobilink</option>
                            <option value="ufone">Ufone</option>
                            <option value="telenor">Telenor</option>
                            <option value="warid">Warid</option>
                            <option value="zong">Zong</option>
                        </select>
                    </td>
                    <td class="options">
                        <router-link :to="'/bases/'+base._id"><i class="fa fa-pencil" aria-hidden="true"></i></router-link>
                        <i class="fa fa-trash" aria-hidden="true" v-on:click="deleteBase(base._id)"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>