<template src="./template.html"></template>

<script src="./script.js"></script>

<style lang="scss" rel="stylesheet/scss">
@import "../../../styles/main.scss";

.error-box {
    padding: 1rem;
    background: rgba(252, 67, 73, 0.75);
    margin-top: 2rem;
    position: fixed;
    width: 350px;
    right: 25px;
    bottom: 25px;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;

    p {
        margin: 0;
        text-align: center;
        color: $white;
    }
}
</style>