<template src="./template.html"></template>

<script src="./script.js"></script>

<style lang="scss" rel="stylesheet/scss">
@import "../../../styles/main.scss";

.sidebar-wrapper {
    position: fixed;
    top: 0;
    left: -250px;
    bottom: 0;
    width: 250px;
    background: rgba(89, 126, 162, 0.1);
    z-index: 1000;
    -webkit-transition: left 250ms ease-in-out;
    -moz-transition: left 250ms ease-in-out;
    -ms-transition: left 250ms ease-in-out;
    -o-transition: left 250ms ease-in-out;
    transition: left 250ms ease-in-out;

    .app-title {
        color: $secondary;
        padding: 1rem;
        text-align: left;
        margin: 0;
    }

    .sidebar-toggler {
        position: absolute;
        top: 0;
        left: 100%;
        background: rgba(89, 126, 162, 0.8);
        padding: 1rem 1.5rem;
        font-size: 1.5rem;
        color: $white;
        cursor: pointer;
    }

    .active {
        background: rgba(89, 126, 162, 0.1);
        color: $secondary;
    }

    .app-title::after {
        content: '';
        display: block;
        width: 35px;
        border-bottom: 5px solid lighten($secondary, 10%);
    }

    .side-nav {
        list-style: none;
        padding: 0;

        li {
            border-bottom: 1px solid lighten($secondary, 10%);

            a {
                display: block;
                color: $secondary;
                padding: 1rem 1rem;
            }

            a:hover {
                background: rgba(89, 126, 162, 0.8);
                color: $white;
            }
        }
    }

    .bottom-nav {
        list-style: none;
        padding: 0;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin-bottom: 0;

        li {
            display: inline-block;
            width: 50%;
            padding: 1.5rem 0;
            overflow: hidden;
            color: $secondary;
            text-align: center;

            a {
                display: block;
                color: $secondary;
            }

            .fa {
                font-size: 2rem;
                display: block;
                cursor: pointer;
            }
        }

        li:hover {
            background: rgba(89, 126, 162, 0.8);
            color: $white;

            a {
                color: $white
            }
        }
    }
}

.open-sidebar {
    left: 0;
}
</style>