<div class="sidebar-wrapper">
    <h1 class="h1 app-title">{{title}}</h1>
    <div class="sidebar-toggler" v-on:click="toggleSidebar">
        <i class="fa fa-bars" aria-hidden="true" v-show="!show_sidebar"></i>
        <i class="fa fa-close" aria-hidden="true" v-show="show_sidebar"></i>
    </div>
    <ul class="side-nav">
        <li><router-link to="/">Home</router-link></li>
        <li><router-link to="/bases">Bases</router-link></li>
        <li><router-link to="/campaigns">Campaigns</router-link></li>
        <li><router-link to="/quick-messages">Quick Messages</router-link></li>
    </ul>
    <ul class="d-flex align-baseline bottom-nav">
        <!--<li><router-link to="/users"><i class="fa fa-gear" aria-hidden="true"></i></router-link></li>-->
        <li><i class="fa fa-power-off" aria-hidden="true" v-on:click="logout"></i></li>
    </ul>
</div>