<section class="container-fluid">
    <sidebar></sidebar>
    <error-box v-if="error" :message="error_message"></error-box>

    <div class="row">
        <div class="col-md-10 offset-md-1 content-wrapper">
            <h1 class="h1 page-title">Recent Campaigns</h1>

            <div class="loader" v-show="!campaigns">
                <img src="../../assets/Ripple.svg">
            </div>

            <table class="table table-striped table-hover table-sm" v-show="campaigns">
                <thead class="thead-inverse">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Base</th>
                    <th>Status</th>
                    <th>Options</th>
                </tr>
                </thead>
                <tbody>
                <tr v-show="campaigns && !campaigns.length">
                    <td colspan="7" class="text-center">No campaigns found!</td>
                </tr>
                <tr v-for="(campaign, index) of campaigns">
                    <th scope="row">{{index+1}}</th>
                    <td>{{campaign.name}}</td>
                    <td>{{campaign.date}}</td>
                    <td>{{campaign.start_time}}</td>
                    <td>{{campaign.end_time}}</td>
                    <td>{{campaign.base_list ? campaign.base_list.name : 'N/A'}}</td>
                    <td>{{campaign.approved ? 'Approved' : 'Not Approved'}}</td>
                    <td class="options">
                        <router-link v-if="!campaign.has_run" :to="'/campaigns/'+campaign._id"><i class="fa fa-pencil" aria-hidden="true"></i></router-link>
                        <i class="fa fa-trash" aria-hidden="true" v-if="!campaign.has_run" v-on:click="deleteCampaign(campaign._id)"></i>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="h1 page-title">Recent Messages</h1>

                    <table class="table table-striped table-hover table-sm">
                        <thead class="thead-inverse">
                        <tr>
                            <th>#</th>
                            <th>Phone</th>
                            <th>Mask</th>
                            <th>Message</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(message, index) of message_history">
                            <th scope="row">{{index+1}}</th>
                            <td>{{message.number}}</td>
                            <td>{{message.mask.name}}</td>
                            <td>{{message.message}}</td>
                            <td>{{message.created_at}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>