<section class="container-fluid">
    <sidebar></sidebar>
    <error-box message="An error occurred. The user could not be edited." v-if="error"></error-box>

    <div class="row">
        <div class="col-md-6 offset-md-3 content-wrapper">
            <h1 class="h1 page-title">Edit User</h1>

            <div class="row">
                <div class="col-md-12 d-flex justify-content-end">
                    <router-link to="/users" class="btn-action">Back</router-link>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form class="row" method="post" v-on:submit.prevent="editUser">
                        <div class="form-group">
                            <input class="form-control" type="text" name="first_name" placeholder="First Name" v-model="user.first_name">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="last_name" placeholder="Last Name" v-model="user.last_name">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="email" name="email" placeholder="user@mail.com" v-model="user.email" readonly>
                        </div>
                        <div class="form-group">
                            <masked-input
                                type="text"
                                name="phone"
                                v-model="user.phone"
                                class="form-control"
                                :mask="['(', /[1-9]/, /\d/, /\d/, ')', ' ', /\d/, /\d/, /\d/, /\d/, /\d/, /\d/, /\d/]"
                                :guide="false"
                                placeholder="(300) 9875432"></masked-input>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="password" placeholder="Password" v-model="user.password">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="confirm_password" placeholder="Confirm Password" v-model="confirm_password" v-on:keyup="validate">
                        </div>
                        <button class="btn btn-submit" type="submit" :disabled="loading || invalid">
                            <span v-show="!loading">edit &amp; save</span>
                            <img src="../../../assets/Eclipse.svg" v-show="loading" width="20">
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>