<section class="container-fluid">
    <sidebar></sidebar>
    <error-box v-if="error" :message="error_message"></error-box>

    <div class="row">
        <div class="col-md-10 offset-md-1 content-wrapper">
            <h1 class="h1 page-title">Users</h1>

            <div class="row">
                <div class="col-md-12 d-flex justify-content-end">
                    <router-link to="/users/new-user" class="btn-action">Add User</router-link>
                </div>
            </div>

            <div class="loader" v-show="!users">
                <img src="../../../assets/Ripple.svg">
            </div>

            <table class="table table-striped table-hover table-sm" v-show="users">
                <thead class="thead-inverse">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Date Added</th>
                    <th>Last Login</th>
                    <th>Options</th>
                </tr>
                </thead>
                <tbody>
                <tr v-show="users && !users.length">
                    <td colspan="5" class="text-center">No users found!</td>
                </tr>
                <tr v-for="(user, index) of users">
                    <th scope="row">{{index+1}}</th>
                    <td>{{user.first_name}} {{user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.created_at}}</td>
                    <td>{{user.last_login || 'N/A'}}</td>
                    <td class="options">
                        <router-link :to="'/users/'+user._id"><i class="fa fa-pencil" aria-hidden="true"></i></router-link>
                        <i class="fa fa-trash" aria-hidden="true" v-on:click="deleteUser(user._id)"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>