<template src="./template.html"></template>

<script src="./script.js"></script>

<style lang="scss" rel="stylesheet/scss">
@import "../../styles/main.scss";

.login-page {
    background: url('../../assets/sayagata.png');
}

.login-wrapper {
    @include wrapper-border;
    background: rgba(255, 255, 255, 0.4);
    padding: 2rem 2rem 2.5rem;

    .h1 {
        border-bottom: 1px solid darken($background, 15%);
    }

    .form-wrapper {
        padding-top: 1.5rem;

        .error-box {
            background: rgba(252, 67, 73, 0.65);
            margin-bottom: 1.5rem;
        }

        .form-group {
            width: 100%;
            margin-bottom: 2rem;

            .form-control {
                border: none;
                border-bottom: 1px solid darken($background, 15%);
                border-radius: 0;
                background: none;
            }

            .form-control:focus {
                outline: none;
            }
        }

        .btn-submit {
            margin-top: 0.5rem;
            padding: 1rem;
            font-size: 1.2rem;
        }
    }
}
</style>