<section class="container-fluid login-page">
    <error-box message="Invalid credentials. Please try again." v-if="login_failed"></error-box>

    <div class="row d-flex">
        <div class="col-md-4 offset-md-4 align-self-center login-wrapper">
            <h1 class="h1">Client Login</h1>
            <div class="row">
                <div class="col-md-8 offset-md-2 form-wrapper">
                    <form class="row" method="post" v-on:submit.prevent="login">
                        <div class="form-group">
                            <input type="username" class="form-control" name="username" placeholder="Username" required v-model="username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password" required v-model="password">
                        </div>
                        <button type="submit" class="btn btn-submit" :disabled="disabled">
                            <span v-if="!processing">Login</span>
                            <img v-if="processing" width="25" src="../../assets/Eclipse.svg">
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>